<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Content Example</title>
</head>
<body>
    <h1>Welcome to the Dynamic Content Example</h1>
    <p>Click the link below to go to the personalized greeting page:</p>
    <p><a href="/greet?name=John">Greet John</a></p>
    <p><a href="/greet?name=Jane">Greet Jane</a></p>
</body>
</html>
